/* CUSTOM PROPS */
:root {
    --cnt-spacing: 20px;
    --header-spacing: 18px;
    --hero-overflow: 60px;
    --card-spacing: 10px;

    --border-color: #787878;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: 1e2d39;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.2rem;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    width: 120px;
    color: var(--border-color);
}

/* DEBUG */
.debug {
    min-height: 50px;
    background-color: azure;
    border: 2px solid blue;
    padding: 20px;
}

/* UTILITY */
.d-flex {
    display: flex;
}

.container {
    margin: 0 auto;
    max-width: 60%;
}

.container.container-big {
    width: 75%;
    max-width: 1080px;
    
}

.col-30 {
    width: 30%;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.btn {
    border-radius: 0;
    border: none;
    padding: 8px 16px;
    background-color: #0061ff;
    border: 0.5px solid gray;
    color: white;
}

/* HEADER */
#page-header.d-flex {
    box-shadow: 0 3px 5px #bbc8d1;
    padding: var(--header-spacing) 0;
    color: var(--border-color);
    
    justify-content: space-between;
    align-items: center;
}

#page-header .d-flex.nav__list {
    align-items: center;
}

#page-header .nav__list-item {
    display: inline-block;
    margin: 0 var(--header-spacing);
}

#page-header .logo {
    height: 20px;
}

/* MAIN */
main > section {
    padding: 60px;
}

/* HERO SECTION */
#hero {
    background-color: #b4d0e7;
    padding-bottom: 0;
    position: relative;
}

#hero .container > * {
    margin: 0;
}

#hero .title {
    font-size: 3.5rem;
}

#hero .cnt__small {
    margin-top: var(--hero-overflow);
}

#hero .cnt__small > * {
    display: block;
    margin-bottom: var(--cnt-spacing);
}

#hero .cnt__icon {
    font-size: 3rem;
    position: absolute;
    bottom: 0;
}

#hero .cnt__img {
    position: relative;
    top: var(--hero-overflow);
}


/* PLANS SECTION */
#plans .container {
    margin-top: 60px;
}

#plans .container > * {
    margin-bottom: var(--cnt-spacing);
}

/* section__title - titolo e checkbox*/
#plans .plan__choices {
    margin-top: var(--cnt-spacing);
}

#plans .choices__label {
    margin-right: var(--cnt-spacing);
    margin-left: 5px;
}

#plans .choices__select {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
}

#plans .choices__select.clicked {
    width: 18px;
    height: 18px;
    border: 4px solid #0061ff;
}

/* section__cnt - card flexate*/
#plans .d-flex.section__cnt {
    justify-content: space-between;
    gap: var(--cnt-spacing);
}

#plans .section__cnt > * {
    flex-grow: 1;
}

/* cards */
/* card-top */
#plans .section__card {
    border: 1px solid var(--border-color);
}

#plans .card__header {
    border-bottom: 1px solid var(--border-color);
    padding: var(--card-spacing) 0;
    font-size: 0.9rem;
    text-align: center;
}

#plans .card__body {
    padding: var(--cnt-spacing);
}

#plans .card__top > *{
     margin: var(--card-spacing) 0;
}

#plans .card__body ul {
    margin-top: calc(var(--card-spacing)*3);
    padding-left: 10px;
}

#plans .card__body li {
    margin: var(--card-spacing) 0;
}

/* card center */
#plans .card__center {
    margin: calc(var(--card-spacing)*3) 0;
}

#plans .card__center > div {
    margin: calc(var(--card-spacing)*3) 0;
}

/* INFO SECTION */
.info .d-flex {
    flex-direction: row-reverse;
}

/* FUNTIONS SECTION */
.functions .d-flex.section__cnt {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--cnt-spacing);
}

.functions .section__card {
    width: calc(100% / 3 - var(--cnt-spacing));
}

/* CUSTOMERS SECTION */

/* BLOCKS SECTION */
.blocks {
    padding: 0;
}

.blocks .block-big {
    width: calc(100% / 3);
    height: calc(100vw /3);
}

.blocks .d-flex.block-big {
    flex-wrap: wrap;
}

.blocks .block-small {
    width: calc(100% / 2);
}

/* START TRIAL SECTION */
.start-trial {
    background-color: #b4d0e7;
}

/* FAQ SECTION */
.faq .d-flex {
    justify-content: space-between;
}

.faq .section__title {
    margin-bottom: 0;
}

.faq .section__question {
    border-top: 1px solid #b3b3b3;
}

.faq .section__question:last-child {
    border-bottom: 1px solid #b3b3b3;  
}

/* FOOTER */
footer {
    background-color: #000000;
    
    /* color: white; */
}

footer .footer__top {
    padding: 60px 0;
}

footer .footer__top .d-flex {
    justify-content: space-between;
}

footer .footer__bottom {
    padding-bottom: var(--cnt-spacing);
}

footer hr {
    color: white;
}
