/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: 1e2d39;
}

h1,
h2 {
    color: black;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: calc(var(--base-spacing)/3) calc(var(--base-spacing)/1.5);
    border-radius: 0;
    border: none;
}

/* DEBUG */
.debug {
    background-color: azure;
    border: 2px solid blue;
    /* padding: 20px; */
    /* min-height: 50px; */
}

/* UTILITY */
:root {
    --base-spacing: 20px;
}

.d-flex {
    display: flex;
}

.container {
    margin: 0 auto;
    max-width: 60%;
}

.container.container-big {
    width: 75%;
    max-width: 1080px;
    
}

.btn-primary {
    background-color: #0061ff;
    border: 0.5px solid gray;
    color: white;
}

/* HEADER */
header.d-flex {
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--base-spacing)) 0;

    color: #787878;;
}

header .d-flex.nav__list {
    align-items: center;
}

header .nav__list-item {
    display: inline-block;
    margin: 0 calc(var(--base-spacing)/2);
}

header .logo {
    height: 20px;
}

/* MAIN */
main > section {
    padding: calc(var(--base-spacing)*2) 0;
}

main .container > * {
    margin: var(--base-spacing) 0;
}

main .cnt__large {
    width: 70%;
}

main .cnt__small {
    width: 30%;
}

/* HERO SECTION */
.hero {
    padding-bottom: 0;
    background-color: #b4d0e7;
    position: relative;
}

.hero .title {
    font-size: 3.5rem;
}

.hero .cnt__small > * {
    display: block;
    margin-top: var(--base-spacing);
}

.hero .cnt__icon {
    margin-top: 40%;
    margin-bottom: 20px;
    font-size: 3rem;
}

.hero .cnt__large {
    position: relative;
}

.hero .cnt__img {
    margin-top: var(--base-spacing);
    position: absolute;
    top: 0;
    height: 110%;
}

/* PLANS SECTION */
.plans .d-flex.section__cnt {
    justify-content: space-between;
    gap: var(--base-spacing);
}

.plans .section__cnt > * {
    flex-grow: 1;
}

/* INFO SECTION */
.info .d-flex {
    flex-direction: row-reverse;
}

/* FUNTIONS SECTION */
.functions .d-flex.section__cnt {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--base-spacing);
}

.functions .section__card {
    width: calc(100% / 3 - var(--base-spacing));
}

/* CUSTOMERS SECTION */

/* BLOCKS SECTION */
.blocks {
    padding: 0;
}

.blocks .block-big {
    width: calc(100% / 3);
    height: calc(100vw /3);
}

.blocks .d-flex.block-big {
    flex-wrap: wrap;
}

.blocks .block-small {
    width: calc(100% / 2);
}

/* START TRIAL SECTION */
.start-trial {
    background-color: #b4d0e7;
}

/* FAQ SECTION */
.faq .d-flex {
    justify-content: space-between;
}

.faq .section__title {
    margin-bottom: 0;
}

.faq .section__question {
    border-top: 1px solid #b3b3b3;
}

.faq .section__question:last-child {
    border-bottom: 1px solid #b3b3b3;  
}

/* FOOTER */
footer {
    background-color: #000000;
    
    /* color: white; */
}

footer .footer__top {
    padding: calc(var(--base-spacing)*3) 0;
}

footer .footer__top .d-flex {
    justify-content: space-between;
}

footer .footer__bottom {
    padding-bottom: var(--base-spacing);
}

footer hr {
    color: white;
    width: calc(var(--base-spacing)*5);
}
